venv/


# ignore everything under data_MovieLens
/Proyecto2/data_MovieLens_temp/**

# but keep the folder so we can re-include files
!/Proyecto2/data_MovieLens/

# un-ignore exactly 1–9.jpg, 10–99.jpg and 100–999.jpg
!/Proyecto2/data_MovieLens/[1-9].jpg
!/Proyecto2/data_MovieLens/[1-9][0-9].jpg
!/Proyecto2/data_MovieLens/[1-9][0-9][0-9].jpg
